<div class="col-md-12">
  <% comments.each do |c| %>
    <p>Comment from <%= c.system_ip%> at <%= c.comment_date_time %></p>
    <p><%= sanitize_description(c.description) %></p>
    <hr>
  <% end %>
</div>
